<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar align-title="center" class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="contentView"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="positive-bg">
        <ion-header-bar align-title="center" class="bar-positive">
            <div class="title">选项</div>
        </ion-header-bar>
        <ion-content>
            <ion-list class="list_inbox">
                <ion-item class="item-positive item-icon text_indent" menu-close href="#/app/weather"><i class="icon ion-android-cloud"></i> 天气预报</ion-item>
                <ion-item class="item-positive item-icon text_indent" menu-close href="#/app/lottery"><i class="icon ion-social-yen"></i> 彩票</ion-item>
                <ion-item class="item-positive item-icon text_indent" menu-close ng-click="exit()"><i class="icon ion-heart-broken"></i> 退出</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>