<ion-view title="天气预报" id="weather">
    <ion-content ng-controller="weatherController" close-popup-back-drop>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()" refreshing-text="正在刷新..."></ion-refresher>
        <div class="list">

          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" placeholder="请输入要添加的区域名" ng-model='cityname' ng-focus="setTipsShow()" ng-blur="setTipsHide()" style="width:100%;">
                
            </label>
            <button class="button button-small button-dark" ng-disabled="disabled" ng-click="add()">
              <i class="icon ion-plus-round"></i>
              添加
            </button>
          </div>
        
        </div>
        <ul class="list cityTips" ng-show="toggleTips">
          <li class="item item-icon-right" ng-repeat="city in cities" ng-click="choose(city.province_cn, city.district_cn, city.name_cn)">
            {{city.province_cn+'-'+city.district_cn+'-'+city.name_cn}}
            <i class="icon">{{city.area_id}}</i>
          </li>
        </ul>
        <ul class="list weatherCard">
            <li class="item card repeat-animate" on-hold="selectItem(show_city.city)" ng-init="r=getRandomNum()" ng-repeat="show_city in show_cities">
                <div class="item item-divider {{color_class[r]}}">{{show_city.city}}</div>
                <div class="item item-body {{color_class[r]}}" style="border:none;overflow:hidden;">
                  <ion-slide-box>
                    <ion-slide>
                      <ion-list class="list_inbox">
                        <ion-item class="item {{color_class[r]}}">
                          {{show_city.today.date+'   '+show_city.today.week}}
                        </ion-item>
                        <ion-item class="item {{color_class[r]}}">
                          当前温度：{{show_city.today.curTemp}}
                          <span class="text-right">{{show_city.today.lowtemp+'~'+show_city.today.hightemp}}</span>
                        </ion-item>
                        <ion-item class="item {{color_class[r]}}">
                          风向：{{show_city.today.fengxiang}}
                          <span class="text-right">风力：{{show_city.today.fengli}}</span>
                        </ion-item>
                        <ion-item class="item {{color_class[r]}}">
                          {{show_city.today.type}}
                        </ion-item>
                      </ion-list>
                    </ion-slide>
                    <ion-slide ng-repeat="forecast in show_city.forecast">
                       <ion-list class="list_inbox">
                        <ion-item class="item {{color_class[r]}}">
                          {{forecast.date+'   '+forecast.week}}
                        </ion-item>
                        <ion-item class="item {{color_class[r]}}">
                          <span class="text-right">{{forecast.lowtemp+'~'+forecast.hightemp}}</span>
                        </ion-item>
                        <ion-item class="item {{color_class[r]}}">
                          风向：{{forecast.fengxiang}}
                          <span class="text-right">风力：{{forecast.fengli}}</span>
                        </ion-item>
                        <ion-item class="item {{color_class[r]}}">
                          {{forecast.type}}
                        </ion-item>
                      </ion-list>
                    </ion-slide>
                  </ion-slide-box>
                </div>
            </li>
        </ul>
    </ion-content>
    
</ion-view>